<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Manga admin app</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/core">Core</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notification">Notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/support">Support</a>
        </li>
      </ul>
    </div>
</nav>
  