<h2 class="text-center">Support</h2>
<div class="container">
    <h3>Messages</h3>
    <div class="form-group">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <button class="btn btn-primary" *ngFor="let i of filterOptions" (click)="setFilteredMessages(i)">{{i}}</button>
        <button class="btn btn-primary" (click)="changeMessageVisibility()">Hide</button>
      </div>
    </div>
  
<table class="table table-striped" *ngIf="areMessagesShown">
    <thead>
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Response</th>
        <th>User ID</th>
        <th>Support ID</th>
        <th *ngIf="currentFilter === messageFilterClass.Unprocessed"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of filteredMessages">
        <td>{{ message.id }}</td>
        <td>{{ message.message }}</td>
        <td>{{ message.response }}</td>
        <td>{{ message.user_id }}</td>
        <td>{{ message.support_id }}</td>
        <td *ngIf="!message.is_processed && currentFilter === messageFilterClass.Unprocessed"> <button class="btn btn-primary" (click)="answerMessage(message.id, message.user_id)">Answer</button> </td>
    </tr>
    </tbody>
</table>
</div>
  